<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Test</title>
</head>
<body>
  <div class="pad" style="top:<%= yPos %>%"><%= id %></div>

  <form class="controller" method="post" action="/update">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="y" value="<%= yPos %>">
    <input type="hidden" name="token" value="<%= token %>">
    <button class="pos-btn" type="submit" name="direction" value="up">Up</button>
    <button class="pos-btn" type="submit" name="direction" value="down">Down</button>
  </form>
</body>
</html>
